@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <link rel="Stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" />

    <form asp-controller="Home" asp-action="Index" method="post" onsubmit="return IsValidateEmptydate()">
       
        <h3>No Of Days Calculator</h3>
        Start : <input type="text" id="txtStartDate" name="SelectedStartDate" placeholder="Start Date" readonly="readonly" /><br /><br />
       
        End : <input type="text" id="txtEndDate" name="SelectedEndDate" placeholder="End Date" readonly="readonly" /><br /><br />
        @if (@ViewBag.Result != null)
        {
            <div id="result">No of days between the two date is : @ViewBag.Result</div>
        }
       
        <input type="submit" value="Submit" id="submitbtn" />
        <script type="text/javascript">
            //Date not empty check here
                function IsValidateEmptydate(){
                let startDateValue = $("#txtStartDate").val();
                let endDateValue = $("#txtEndDate").val();
                if (startDateValue.length == "") {
                   alert("Please enter Start Date");
                   return false;
                }
                if (endDateValue.length == "") {
                   alert("Please enter End Date");
                   return false;
                }
                
                
                }
               
            </script>
        <script type="text/javascript">
            //Start Date should be less than End date validation
            $(function () {
                $(function () {
                    $('[id*=txtStartDate]').datepicker({
                        onSelect: function (selected) {
                            var dt = new Date(selected);
                            dt.setDate(dt.getDate() + 1);
                            $("[id*=txtEndDate]").datepicker("option", "minDate", dt);
                        }
                    });
                    $('[id*=txtEndDate]').datepicker({
                        onSelect: function (selected) {
                            var dt = new Date(selected);
                            dt.setDate(dt.getDate() - 1);
                            $("[id*=txtStartDate]").datepicker("option", "maxDate", dt);
                        }
                    });
                });
            });
        </script>
      
    </form>
</body>
</html>
